article.post-content p {
  position: relative; }

article.post-content img {
  width: 150px;
  position: absolute;
  margin-bottom: 10px;
  padding-right: 20px; }

article.post-content span {
  display: block;
  max-width: calc(100% - 175px);
  position: relative;
  left: 175px; }
