
#title {
  position: absolute;
  top: 80px;
  font-size: 80px;
  min-width: 380px;
  display: block;
}

body {
  padding-top: 180px;
}

#title span {
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-name: pulse;
  animation-direction: alternate;
}
