
#title {
  position: absolute;
  top: 80px;
  font-size: 50px;
}

#title .wrapper {
  white-space: nowrap;
}

#title span.wrapper::after{
  content: "";
  background-image: url("/images/purple.png");
  background-size: 100%;
  display:block;
  position: relative;
  z-index: -1;
}

video {
  padding-top: 20px;
  background: none;
  border: none;
  outline: none;
  width: 100%;
}

img {
  padding-top: 20px;
  width: 100%;
}

@media (max-width: 1180px) {
  #title {
    left: 30px;
    padding-left: 70px;
  }
  #title span.wrapper::after{
    width: 50px;
    height: 50px;
    top: -54px;
    left: -70px;
  }
  body {
    padding-top: 120px;
  }
}

@media (min-width: 1180px) {
  #title {
  left: -245px;
  }
  #title span.wrapper::after{
  width:129px;
  height:129px;
  left:2px;
  top:0px;
  }
  body {
  padding-top: 39px;
  }
}

header .title {
  margin-top: 40px;
  font-size: 44px;
  font-family:"Playfair Display", Times, serif;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 3px solid white;
}

p {
  line-height: 28px;
}

#title a {
  color: black;
  outline: none;
} 
.date {
  display: none;
}

body {
  position: relative;
}

ul {
  list-style: none;
  margin-top: 10px;
}

:not(.table-of-contents) ul li::before {
  content: "♪";
  position: absolute;
  left: 5px;
  /* background: url("/images/star-bullet.png") no-repeat; */
  /* background-size: 12px; */
  /* background-position: 13px 9px; */
}

#title a:hover span {
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-name: pulse;
  animation-direction: alternate;
}

table {
  padding-top:20px;
}
td, th{
  padding: 2px 10px;
  border-bottom: 1px solid white;
}


/*  coloring */
