@import url(https://fonts.googleapis.com/css?family=Raleway:200)


vendor(prop, args) 
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  -ms-{prop} args
  {prop} args

border-radius()
	vendor('border-radius', arguments)

box-shadow()
	vendor('box-shadow', arguments)
	
animation()
	vendor('animation', arguments)
	
transition()
	vendor('transition', arguments)

*
	margin:0
	padding:0
	font-weight:300
	z-index:2
	
a
	color:black
	text-decoration:none

body
	font-family: 'Raleway', Courier
	background: url("/images/brushed.jpg")
	min-height:100vh // Fix for Safari
	// -webkit-animation: grad 30s infinite linear
	// -moz-animation: grad 30s infinite linear
	// -o-animation: grad 30s infinite linear
	
	&::selection
		background: none
		
	&::-moz-selection
		background: none
	
*, html
	
	&::selection
		background: none
		
	&::-moz-selection
		background: none
			
		
#background
	position:fixed
	top:0px
	left:0px
	height:100vh
	width:100%
	z-index:-1
	//background-repeat: repeat
	animation: grad 20s infinite linear
	opacity: 1

.post 
  max-width: 600px
  margin:auto
  margin-top: 30px
  font-size: 30px

  *
	  &::selection
	  	background: rgba(black, 50%)
	  	
	  &::-moz-selection
	  	background: rgba(black, 50%)

.post-content
  margin-top: 30px
  background: rgba(255,255,255, .3)
  padding: 30px
  margin-bottom:50px;
  p
    font-family: Arial
    font-size: 20px
    margin-bottom: 10px
  h1
    font-size: 60px
    border-bottom: 1px solid black
    margin-bottom: 20px
  h2
    font-size: 40px
    margin-bottom: 10px
  h3
    font-size: 25px
    margin-bottom: 10px
    font-family: Arial, Courier
    text-decoration: underline

  a
    color white

    &:hover
      text-decoration: underline
  
  *:not(pre)
    code
      font-family: courier
      background: white
      border: 1px solid #888
      padding:2px;

  pre
    font-size 20px
    margin-bottom: 10px

    .line-numbers
      margin-right:10px



html body .post-title
  max-width: 600px
  text-align:center
  font-size: 80px
  display:block
  padding: 5px 0px
  font-family 
  &:hover
    background: rgba(255,255,255,.3)
    cursor: pointer

  & *
	  font-family: "Raleway", Times


nav
	position:relative
	top:20vh
	font-size:80px
	text-align:center
	list-style:none
	width:600px
	margin:auto
	
	a
		color:black
		text-decoration:none

	li
		position:relative
		cursor: pointer
		padding: 5px 0px
	
		&:hover
			background: rgba(255,255,255,.3)
			
			span
				display:block
	
		span
			position:fixed
			width:100%
			bottom:3vh
			left:0px
			display:none
			color:black

#contact.backup, #portfolio.backup, #photo.backup
	display:block
	opacity:1
	
.backup nav
	top:10vh
			
#contact, #portfolio, #photo
	display:none
	opacity: 0
	position:absolute
	top:30vh
	text-align:center
	font-size: 40px
	width:100%
	
	ul
	
		list-style:none
		text-align:center
	
		li 
			padding-bottom: 10px
			padding-top:10px
			margin:auto
			width:600px
			position:relative
			
			&:hover
				background: rgba(255,255,255,.3)
				
				span
					display:block
					
			span
				position:fixed
				width:100%
				bottom:6vh
				left:0px
				display:none
				opacity: 0.6
				
		.twitter img
			height: 110px
			padding-bottom:15px
		
		.github img
			height: 140px
		
		.email img
			height:80px
			padding-bottom:25px
			
#portfolio
	span
		opacity:1
		font-size:25px
		
		
#photo

	span
		opacity:0
		position:relative
		top:320px
		left:0.5%
		transition: opacity 0.5s // ease-in-out
	
	#photo_container:hover ~ span
		opacity:1
		
	#photo_container
		width:300px
		margin:auto
		text-align:center
		position:relative
		
		img
			position:absolute
			top:0vh
			left:0px
			border-radius:2000px
			width: 300px
		
		#photo1
			opacity:1
			transition: opacity 0.5s
			
			&:hover
				opacity:0
			
		#photo2
			opacity:0
			transition: opacity 0.5s
			
			&:hover
				opacity:1
	


purple_1 = rgba(#7A7ACC, 0.4)
purple_2 = rgba(#8542B3, 0.4)
purple_3 = rgba(#513DE6, 0.4)


// Animations			
@keyframes grad
  0% { background: purple_1 }
  25% { background: purple_2 }
  50% { background: purple_3 }
  75% { background: purple_2 }
  100% { background: purple_1 }
//   0% { background: #27F }
//   25% { background: #9900CC }
//   50% { background: #FF5050 }
//   75% { background: #35861A }
//   100% { background: #27F }
			
// @-wekbit-keyframes grad
// 	0% { background: #27F }
// 	20% { background: #9900CC }
// 	40% { background: #FF5050 }
// 	60% { background: #AE8F00 }
// 	80% { background: #35861A }
// 	100% { background: #27F }
//  	
// @-moz-keyframes grad
// 	0% { background: #27F }
// 	20% { background: #9900CC }
// 	40% { background: #FF5050 }
// 	60% { background: #AE8F00 }
// 	80% { background: #35861A }
// 	100% { background: #27F }
// 	
// @-o-keyframes grad
// 	0% { background: #27F }
// 	20% { background: #9900CC }
// 	40% { background: #FF5050 }
// 	60% { background: #AE8F00 }
// 	80% { background: #35861A }
// 	100% { background: #27F }


// Error Page

#question_one 
	font-size:300px
	position:fixed
	width:100%
	opacity:0.7
	text-align:center
	
	span
		font-family: times, serif
		position:relative
		left:-40px
	
#question_two
	font-size:380px
	position:fixed
	width:100%
	opacity:0.8
	text-align:center
	
	span
		font-family: times, serif
		position:relative
		left:40px
	
.error h1
	position:fixed
	font-size:200px
	top:200px
	width:100%	//
	// font-family: arial, sans-serif
	padding-top:30vh
	opacity:0.8
	text-align:center
	
	
.error
	overflow:hidden
	
.error #transparent_reroute
	position:fixed
	left:0
	top:0
	width:100%
	height:10000px
	background:none
	z-index:40
