@import url("https://fonts.googleapis.com/css?family=Raleway:200");
* {
  margin: 0;
  padding: 0;
  font-weight: 300;
  z-index: 2;
}
a {
  color: #000;
  text-decoration: none;
}
body {
  font-family: 'Raleway', Courier;
  background: url("/images/brushed.jpg");
  min-height: 100vh;
}
body::selection {
  background: none;
}
body::-moz-selection {
  background: none;
}
*::selection,
html::selection {
  background: none;
}
*::-moz-selection,
html::-moz-selection {
  background: none;
}
#background {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  z-index: -1;
  -webkit-animation: grad 10s infinite linear;
  -moz-animation: grad 10s infinite linear;
  -o-animation: grad 10s infinite linear;
  -ms-animation: grad 10s infinite linear;
  animation: grad 10s infinite linear;
  opacity: 1;
}
.post-list {
  overflow-y: scroll;
  max-height: 50vh;
}
html body .post-title {
  width: calc(100% + 50px);
  position: relative;
  left: -50px;
  border-top: 80px solid rgba(255,255,255,0.4);
  text-align: center;
  font-size: 80px;
  display: block;
  padding: 5px 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: inset 0px 0px 30px #555;
  -moz-box-shadow: inset 0px 0px 30px #555;
  -o-box-shadow: inset 0px 0px 30px #555;
  -ms-box-shadow: inset 0px 0px 30px #555;
  box-shadow: inset 0px 0px 30px #555;
  -moz-background-clip: padding; /* Firefox 3.6 */
  -webkit-background-clip: padding; /* Safari 4 */
  background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
html body .post-title:hover {
  cursor: pointer;
}
html body .post-title * {
  font-family: "Raleway", Times;
}
.post {
  min-height: 100vh;
  font-size: 30px;
}
.post *::selection {
  background: rgba(0,0,0,0.5);
}
.post *::-moz-selection {
  background: rgba(0,0,0,0.5);
}
.home-link {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  -webkit-box-shadow: 0px 0px 8px #444;
  -moz-box-shadow: 0px 0px 8px #444;
  -o-box-shadow: 0px 0px 8px #444;
  -ms-box-shadow: 0px 0px 8px #444;
  box-shadow: 0px 0px 8px #444;
  z-index: 30;
}
.post .home-link {
  -webkit-box-shadow: 0px 0px 5px #777;
  -moz-box-shadow: 0px 0px 5px #777;
  -o-box-shadow: 0px 0px 5px #777;
  -ms-box-shadow: 0px 0px 5px #777;
  box-shadow: 0px 0px 5px #777;
}
.post::after {
  content: "";
  display: block;
  height: 80px;
  -webkit-box-shadow: inset 0px 0px 30px #555;
  -moz-box-shadow: inset 0px 0px 30px #555;
  -o-box-shadow: inset 0px 0px 30px #555;
  -ms-box-shadow: inset 0px 0px 30px #555;
  box-shadow: inset 0px 0px 30px #555;
  width: calc(100% + 50px);
  position: relative;
  left: -50px;
}
.post-content {
  background: #f1f1f1;
  width: 100%;
  box-sizing: border-box;
  padding: 70px;
  border-left: 70px solid rgba(255,255,255,0.4);
  border-right: 70px solid rgba(255,255,255,0.4);
  -moz-background-clip: padding; /* Firefox 3.6 */
  -webkit-background-clip: padding; /* Safari 4 */
  background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
  box-sizing: border-box;
}
.post-content p {
  font-family: Times New Roman, Times;
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.post-content> p:first-of-type::first-letter {
  font-size: 64px;
  padding-top: 5px;
  padding-right: 5px;
  line-height: 50px;
  float: left;
}
.post-content h1 {
  font-size: 60px;
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
}
.post-content h2 {
  font-size: 40px;
  margin-bottom: 10px;
  font-family: Arial, Courier;
  text-decoration: underline;
}
.post-content a {
  text-decoration: underline;
}
.post-content a:hover {
  color: #fff;
}
.post-content code {
  font-family: courier;
  background: #fff;
  padding: 4px;
  font-size: 14px;
  vertical-align: center;
  -webkit-box-shadow: 0px 0px 3px #000;
  -moz-box-shadow: 0px 0px 3px #000;
  -o-box-shadow: 0px 0px 3px #000;
  -ms-box-shadow: 0px 0px 3px #000;
  box-shadow: 0px 0px 3px #000;
  position: relative;
  top: -5px;
}
.post-content div.highlight {
  margin-bottom: 16px;
}
.post-content pre {
  font-size: 20px;
}
.post-content pre .line-numbers {
  margin-right: 10px;
}
.post-content pre code {
  background: transparent;
  border: none;
  position: inherit;
  top: inherit;
  padding: none;
  font-size: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.post-content blockquote {
  border-left: 8px solid rgba(0,0,0,0.5);
  color: #000;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
nav {
  position: relative;
  top: 20vh;
  font-size: 80px;
  text-align: center;
  list-style: none;
  width: 600px;
  margin: auto;
}
nav a {
  color: #000;
  text-decoration: none;
}
nav li {
  position: relative;
  cursor: pointer;
  padding: 5px 0px;
}
nav li:hover {
  background: rgba(255,255,255,0.3);
}
nav li:hover span {
  display: block;
}
nav li span {
  position: fixed;
  width: 100%;
  bottom: 3vh;
  left: 0px;
  display: none;
  color: #000;
}
#contact.backup,
#portfolio.backup,
#photo.backup {
  display: block;
  opacity: 1;
}
.backup nav {
  top: 10vh;
}
#contact,
#portfolio,
#photo {
  display: none;
  opacity: 0;
  position: absolute;
  top: 30vh;
  text-align: center;
  font-size: 40px;
  width: 100%;
}
#contact ul,
#portfolio ul,
#photo ul {
  list-style: none;
  text-align: center;
}
#contact ul li,
#portfolio ul li,
#photo ul li {
  padding-bottom: 10px;
  padding-top: 10px;
  margin: auto;
  width: 600px;
  position: relative;
}
#contact ul li:hover,
#portfolio ul li:hover,
#photo ul li:hover {
  background: rgba(255,255,255,0.3);
}
#contact ul li:hover span,
#portfolio ul li:hover span,
#photo ul li:hover span {
  display: block;
}
#contact ul li span,
#portfolio ul li span,
#photo ul li span {
  position: fixed;
  width: 100%;
  bottom: 6vh;
  left: 0px;
  display: none;
  opacity: 0.6;
}
#contact ul .twitter img,
#portfolio ul .twitter img,
#photo ul .twitter img {
  height: 110px;
  padding-bottom: 15px;
}
#contact ul .github img,
#portfolio ul .github img,
#photo ul .github img {
  height: 140px;
}
#contact ul .email img,
#portfolio ul .email img,
#photo ul .email img {
  height: 80px;
  padding-bottom: 25px;
}
#portfolio span {
  opacity: 1;
  font-size: 25px;
}
#photo span {
  opacity: 0;
  position: relative;
  top: 320px;
  left: 0.5%;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#photo #photo_container:hover ~ span {
  opacity: 1;
}
#photo #photo_container {
  width: 300px;
  margin: auto;
  text-align: center;
  position: relative;
}
#photo #photo_container img {
  position: absolute;
  top: 0vh;
  left: 0px;
  -webkit-border-radius: 2000px;
  -moz-border-radius: 2000px;
  -o-border-radius: 2000px;
  -ms-border-radius: 2000px;
  border-radius: 2000px;
  width: 300px;
}
#photo #photo_container #photo1 {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#photo #photo_container #photo1:hover {
  opacity: 0;
}
#photo #photo_container #photo2 {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#photo #photo_container #photo2:hover {
  opacity: 1;
}
#question_one {
  font-size: 300px;
  position: fixed;
  width: 100%;
  opacity: 0.7;
  text-align: center;
}
#question_one span {
  font-family: times, serif;
  position: relative;
  left: -40px;
}
#question_two {
  font-size: 380px;
  position: fixed;
  width: 100%;
  opacity: 0.8;
  text-align: center;
}
#question_two span {
  font-family: times, serif;
  position: relative;
  left: 40px;
}
.error h1 {
  position: fixed;
  font-size: 200px;
  top: 200px;
  width: 100%;
  padding-top: 30vh;
  opacity: 0.8;
  text-align: center;
}
.error {
  overflow: hidden;
}
.error #transparent_reroute {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10000px;
  background: none;
  z-index: 40;
}
.linenodiv {
  position: relative;
  top: 4px;
  padding-right: 4px;
}
@-moz-keyframes grad {
  0% {
    background: rgba(122,122,204,0.4);
  }
  25% {
    background: rgba(133,66,179,0.4);
  }
  50% {
    background: rgba(81,61,230,0.4);
  }
  75% {
    background: rgba(133,66,179,0.4);
  }
  100% {
    background: rgba(122,122,204,0.4);
  }
}
@-webkit-keyframes grad {
  0% {
    background: rgba(122,122,204,0.4);
  }
  25% {
    background: rgba(133,66,179,0.4);
  }
  50% {
    background: rgba(81,61,230,0.4);
  }
  75% {
    background: rgba(133,66,179,0.4);
  }
  100% {
    background: rgba(122,122,204,0.4);
  }
}
@-o-keyframes grad {
  0% {
    background: rgba(122,122,204,0.4);
  }
  25% {
    background: rgba(133,66,179,0.4);
  }
  50% {
    background: rgba(81,61,230,0.4);
  }
  75% {
    background: rgba(133,66,179,0.4);
  }
  100% {
    background: rgba(122,122,204,0.4);
  }
}
@keyframes grad {
  0% {
    background: rgba(122,122,204,0.4);
  }
  25% {
    background: rgba(133,66,179,0.4);
  }
  50% {
    background: rgba(81,61,230,0.4);
  }
  75% {
    background: rgba(133,66,179,0.4);
  }
  100% {
    background: rgba(122,122,204,0.4);
  }
}
