@import url("http://fonts.googleapis.com/css?family=Raleway:200");
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', Times;
  font-weight: 200;
  z-index: 2;
}
a {
  color: #000;
  text-decoration: none;
}
body {
  background: #27f;
  min-height: 100vh;
  -webkit-animation: grad 10s infinite linear;
  -moz-animation: grad 10s infinite linear;
  -o-animation: grad 10s infinite linear;
  -ms-animation: grad 10s infinite linear;
  animation: grad 10s infinite linear;
}
body::selection {
  background: none;
}
body::-moz-selection {
  background: none;
}
*::selection,
html::selection {
  background: none;
}
*::-moz-selection,
html::-moz-selection {
  background: none;
}
#background {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background: url("/images/alum.png");
  background-repeat: repeat;
  opacity: 1;
}
nav {
  position: relative;
  top: 20vh;
  font-size: 80px;
  text-align: center;
  list-style: none;
  width: 600px;
  margin: auto;
}
nav a {
  color: #000;
  text-decoration: none;
}
nav li {
  position: relative;
  cursor: pointer;
  padding: 5px 0px;
}
nav li:hover {
  background: rgba(255,255,255,0.3);
}
nav li:hover span {
  display: block;
}
nav li span {
  position: fixed;
  width: 100%;
  bottom: 3vh;
  left: 0px;
  display: none;
  color: #000;
}
#contact.backup,
#portfolio.backup,
#photo.backup {
  display: block;
  opacity: 1;
}
.backup nav {
  top: 10vh;
}
#contact,
#portfolio,
#photo {
  display: none;
  opacity: 0;
  position: absolute;
  top: 30vh;
  text-align: center;
  font-size: 40px;
  width: 100%;
}
#contact ul,
#portfolio ul,
#photo ul {
  list-style: none;
  text-align: center;
}
#contact ul li,
#portfolio ul li,
#photo ul li {
  padding-bottom: 10px;
  padding-top: 10px;
  margin: auto;
  width: 600px;
  position: relative;
}
#contact ul li:hover,
#portfolio ul li:hover,
#photo ul li:hover {
  background: rgba(255,255,255,0.3);
}
#contact ul li:hover span,
#portfolio ul li:hover span,
#photo ul li:hover span {
  display: block;
}
#contact ul li span,
#portfolio ul li span,
#photo ul li span {
  position: fixed;
  width: 100%;
  bottom: 6vh;
  left: 0px;
  display: none;
  opacity: 0.6;
}
#contact ul .twitter img,
#portfolio ul .twitter img,
#photo ul .twitter img {
  height: 110px;
  padding-bottom: 15px;
}
#contact ul .github img,
#portfolio ul .github img,
#photo ul .github img {
  height: 140px;
}
#contact ul .email img,
#portfolio ul .email img,
#photo ul .email img {
  height: 80px;
  padding-bottom: 25px;
}
#portfolio span {
  opacity: 1;
  font-size: 25px;
}
#photo span {
  opacity: 0;
  position: relative;
  top: 320px;
  left: 0.5%;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#photo #photo_container:hover ~ span {
  opacity: 1;
}
#photo #photo_container {
  width: 300px;
  margin: auto;
  text-align: center;
  position: relative;
}
#photo #photo_container img {
  position: absolute;
  top: 0vh;
  left: 0px;
  -webkit-border-radius: 2000px;
  -moz-border-radius: 2000px;
  -o-border-radius: 2000px;
  -ms-border-radius: 2000px;
  border-radius: 2000px;
  width: 300px;
}
#photo #photo_container #photo1 {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#photo #photo_container #photo1:hover {
  opacity: 0;
}
#photo #photo_container #photo2 {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#photo #photo_container #photo2:hover {
  opacity: 1;
}
@-wekbit-keyframes grad {
  0% {
    background: #27f;
  }
  20% {
    background: #90c;
  }
  40% {
    background: #ff5050;
  }
  60% {
    background: #ae8f00;
  }
  80% {
    background: #35861a;
  }
  100% {
    background: #27f;
  }
}
@-moz-keyframes grad {
  0% {
    background: #27f;
  }
  20% {
    background: #90c;
  }
  40% {
    background: #ff5050;
  }
  60% {
    background: #ae8f00;
  }
  80% {
    background: #35861a;
  }
  100% {
    background: #27f;
  }
}
@-o-keyframes grad {
  0% {
    background: #27f;
  }
  20% {
    background: #90c;
  }
  40% {
    background: #ff5050;
  }
  60% {
    background: #ae8f00;
  }
  80% {
    background: #35861a;
  }
  100% {
    background: #27f;
  }
}
#question_one {
  font-size: 300px;
  position: fixed;
  width: 100%;
  opacity: 0.7;
  text-align: center;
}
#question_one span {
  font-family: times, serif;
  position: relative;
  left: -40px;
}
#question_two {
  font-size: 380px;
  position: fixed;
  width: 100%;
  opacity: 0.8;
  text-align: center;
}
#question_two span {
  font-family: times, serif;
  position: relative;
  left: 40px;
}
.error h1 {
  position: fixed;
  font-size: 200px;
  top: 200px;
  width: 100%;
  padding-top: 30vh;
  opacity: 0.8;
  text-align: center;
}
.error {
  overflow: hidden;
}
.error #transparent_reroute {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10000px;
  background: none;
  z-index: 40;
}
@-moz-keyframes grad {
  0% {
    background: #27f;
  }
  20% {
    background: #90c;
  }
  40% {
    background: #ff5050;
  }
  60% {
    background: #ae8f00;
  }
  80% {
    background: #35861a;
  }
  100% {
    background: #27f;
  }
}
@-webkit-keyframes grad {
  0% {
    background: #27f;
  }
  20% {
    background: #90c;
  }
  40% {
    background: #ff5050;
  }
  60% {
    background: #ae8f00;
  }
  80% {
    background: #35861a;
  }
  100% {
    background: #27f;
  }
}
@-o-keyframes grad {
  0% {
    background: #27f;
  }
  20% {
    background: #90c;
  }
  40% {
    background: #ff5050;
  }
  60% {
    background: #ae8f00;
  }
  80% {
    background: #35861a;
  }
  100% {
    background: #27f;
  }
}
@keyframes grad {
  0% {
    background: #27f;
  }
  20% {
    background: #90c;
  }
  40% {
    background: #ff5050;
  }
  60% {
    background: #ae8f00;
  }
  80% {
    background: #35861a;
  }
  100% {
    background: #27f;
  }
}
