/*
 * Site header
 */

.home .site-header-transition {
  transition: all 0.5s linear; // awesome
}

body {
  font-size: 18px;
}

.home .site-header {
  opacity: 0;
}

#main-links {
  list-style-type:none;
  position:absolute;
  top: 0px;
  left:250px;
  width: calc(100% - 300px);
  padding-top:8vh;
  color:white;
  font-size:16.5vh;
  text-align:left;
  font-weight:700;
  font-family:Arial, Helvetica, sans-serif;
  opacity: 0;
}

#main-links li {
  display: block;
  height:20vh;
  // border:5px solid white;
  line-height:20vh;
  margin-left:100px;
  cursor:pointer;
  // transition: color 0.2s;
}

#main-links a, #main-links a:visited {
  color:white;
}

#main-links a:hover {
  text-decoration:none;
}

#main-links li:nth-child(1) a:hover {
  color: #E6CCFF;
}

#main-links li:nth-child(2) a:hover {
  color: #A3ECFF;
}

#main-links li:nth-child(3) a:hover {
  color: #555;
}
#main-links li:nth-child(4) a:hover span {
  animation-iteration-count: infinite;
  animation-duration:2s;
  animation-name: pulse;
  animation-direction: alternate;
}

#main-links li:nth-child(4) a:hover span:nth-child(1) {
  animation-delay: 0.2s;
}
#main-links li:nth-child(4) a:hover span:nth-child(2) {
  animation-delay: 0.1s;
}
// #main-links li:nth-child(4) a:hover span:nth-child(3) {
// }

@keyframes pulse {
  0% {
    color: #FFFF99;
  }
  34% {
    color: #FFA3C2;
  }
  56% {
    color: #DBB8FF;
  }
  78% {
    color: #99CCFF;
  }
  100% {
    color: #99FF99;
  }
}

// .verticle-header {
.site-header.vertical-header {
  width: 100vh;
  padding-top: 50px;
  height: 200px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  top: 100vh;
}

.site-header {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    // min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top:18px;
    width: 100%;
    background: white;
    height: 150px;
}

body {
  background: $grey-color-light;
  padding-top: 170px;
}

.site-title {
    font-size: 126px;
    font-family:times;
    font-weight: 900;
    line-height: 166px;
    letter-spacing: -1px;
    margin-bottom: 0;
    // float: left;
    &,
    &:visited,
    &:hover {
        color: $grey-color-light;
        text-decoration: none;
    }
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background: $grey-color-light;
}

.page-heading {
    font-size: 40px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link, .post-link:hover, .post-link:active, .post-link:visited {
    display: block;
    font-size: 30px;
    color: black;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1, h2, h3, h4, h5, h6 {
      font-size: 22px;

      &::before {
        color: white;
        font-size: 26px;
      }
    }

    h1::before {
      content: "# ";
    }
    h2::before {
      content: "## ";
    }
    h3::before {
      content: "### ";
    }
    h4::before {
      content: "#### ";
    }
}
